{{ template "base.html" . }}

{{ define "breadcrumb" }}
<a href="{{ .BasePath }}/admin/dashboard">Dashboard</a>
{{ end }}

{{ define "content" }}
<ul>
  {{ range .Games }}
    <li>
      <a href="{{ $.BasePath }}/admin/games/{{ .GameID }}">
        {{ .DisplayName }} (id={{ .GameID }} type={{ .GameType }} state={{ .State }})
      </a>
      <ul>
        {{ if and (ne .State "closed") (ne .State "finished") }}
          <li>
            <a href="{{ $.BasePath }}/golf/{{ .GameID }}/watch">Watch</a>
          </li>
        {{ end }}
      </ul>
    </li>
  {{ end }}
</ul>
{{ end }}
