{{ template "base.html" . }}

{{ define "breadcrumb" }}
<a href="{{ .BasePath }}/admin/dashboard">Dashboard</a>
{{ end }}

{{ define "content" }}
<ul>
  {{ range .Users }}
    <li>
      <a href="{{ $.BasePath }}/admin/users/{{ .UserID }}">
        {{ .DisplayName }} (id={{ .UserID }} username={{ .Username }}){{ if .IsAdmin }} <em>admin</em>{{ end }}
      </a>
      <form method="post" action="{{ $.BasePath }}/admin/users/{{ .UserID }}/fetch-icon">
        <button type="submit">Fetch Icon</button>
      </form>
    </li>
  {{ end }}
</ul>
{{ end }}
